<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92218378725-9mmsup36d6a6gcjmbeu0kp4quthkcuf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92218378725-9mmsup36d6a6gcjmbeu0kp4quthkcuf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBj-eb7mKscbdT6UjKlA5qMv5eR01U35io</string>
	<key>GCM_SENDER_ID</key>
	<string>92218378725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>buy-it-73d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-it-73d4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92218378725:ios:59088add1fa6e16085070c</string>
</dict>
</plist>